<?xml version="1.0" encoding="utf-8"?>
<packages>
	<!-- Revit -->
	<package id="Revit_All_Main_Versions_API_x64" version="2019.0.1" targetFramework="net472" />

	<!-- RxBim 1.x -->
	<package id="RxBim.Command.Revit.2019" version="1.9.2" targetFramework="net472" />
	<package id="RxBim.Di" version="1.2.2" targetFramework="net472" />
	<package id="RxBim.Shared" version="1.1.4" targetFramework="net472" />

	<!-- Autofac -->
	<package id="Autofac" version="4.9.4" targetFramework="net472" />

	<!-- Ваши зависимости -->
	<package id="CommunityToolkit.Mvvm" version="8.2.1" targetFramework="net472" />
	<package id="CSharpFunctionalExtensions" version="2.40.0" targetFramework="net472" />
	<package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />

	<!-- DI -->
	<package id="Microsoft.Extensions.DependencyInjection" version="2.2.0" targetFramework="net472" />
	<package id="Microsoft.Extensions.Configuration" version="2.2.0" targetFramework="net472" />
	<package id="Microsoft.Extensions.Configuration.Json" version="2.2.0" targetFramework="net472" />

	<!-- System -->
	<package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net472" />
	<package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.1" targetFramework="net472" />
</packages>